---
const { entry, components = {} } = Astro.props;
const { Content } = await entry.render();
import OuterLink from "@components/Parts/OuterLink.astro";
---

<div class="content" id="article-body">
  <Content components={{...components, OuterLink}} />
</div>

<style lang="scss">
.content {
  font-family:var.$font-base;
  font-weight: 400;
  font-weight: 500;
  line-height: 2.25;

  @include mixin.sp {
    font-size: 1.5rem;
    line-height: 2;
  }
}
</style>

<style lang="scss" is:global>
  .content {
    // select h2 to h6
    h2, h3, h4, h5, h6 {
      font-family: var.$font-serif;
      font-weight: bold;
      line-height: 1.75;
    }

    h2 {
      position: relative;
      font-size: 2.8rem;
      color: white;
      padding:0.4rem 1.2rem;

      strong {
        background-image: none;
      }

      @include mixin.sp {
        font-size: 2rem;
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right ,var.$c-key-1, var.$c-key-2);
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }

    h3 {
      position: relative;
      font-size: 2.4rem;
      padding-left: 2rem;

      strong {
        background-image: none;
      }

      @include mixin.sp {
        font-size: 1.8rem;
        padding-left: 1.6rem;
      }

      &::after {
        content: '';
        width: .4rem;
        height: 70%;
        background-image: linear-gradient(to bottom ,var.$c-key-1, var.$c-key-2);

        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 0;

        @include mixin.sp {
          height: 100%;
        }
      }
    }

    h4 {
      position: relative;
      font-size: 2.2rem;
      padding-bottom: .4rem;
      border-bottom: .1rem solid #eee;

      // &::after {
      //   content: '';
      //   width: 100%;
      //   height: .1rem;
      //   // background-image: linear-gradient(to right top, rgba(198, 153, 241, 0.8), rgba(255, 160, 176, 0.8));
      //   background-color: #ffffff;
      //   background-image: linear-gradient(to right, rgba(#eae3d7, 1), rgba(#eae3d7, 0));
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      // }

      @include mixin.sp {
        font-size: 1.8rem;
      }
    }

    h5 {
      font-size: 2rem;

      @include mixin.sp {
        font-size: 1.6rem;
      }
    }

    h6 {
      font-size: 1.8rem;

      @include mixin.sp {
        font-size: 1.5rem;
      }
    }

    strong {
      font-weight: bold;

      background-image: linear-gradient(to right top, rgba(var.$c-key-1, .8), rgba(var.$c-key-2, .8));
      background-size: 100% .8rem;
      background-repeat: no-repeat;
      background-position: left bottom;

      @include mixin.sp {
        background-size: 100% .4rem;
      }
    }

    ul {
      padding: 2.4rem;
      border: .1rem solid #eee;
      background-color: rgba(white, .5);

       @include mixin.sp {
        padding: 1.6rem;
      }

      strong {
        background-image: none;
      }

      li {
        position: relative;
        padding-left: 1.8rem;
        line-height: 2;

        &:not(:first-child) {
          margin-top: 1.2rem;
        }

        &::before {
          content: '';
          width: .6rem;
          height: .6rem;
          background-image: linear-gradient(to right top, var.$c-key-1, var.$c-key-2);
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 1.5rem;

          @include mixin.sp {
            top: 1.3rem;
          }
        }
      }
    }

    ol:not([class]) {
      padding: 2.4rem;
      border: .1rem solid #eee;
      background-color: rgba(white, .5);
      counter-reset: number;

       @include mixin.sp {
        padding: 1.6rem;
      }

      strong {
        background-image: none;
      }

      li {
        position: relative;
        padding-left: 2.8rem;
        line-height: 2;
        counter-increment: number;

        &:not(:first-child) {
          margin-top: 1.2rem;
        }

        &::before {
          content: counter(number);
          position: absolute;
          left: 0;
          top: 0.6rem;
          width: 2rem;
          height: 2rem;
          background-image: linear-gradient(to right top, var.$c-key-1, var.$c-key-2);
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.1rem;
        }
      }
    }


    a:not([class]) {
      color: var.$c-link-article;
      text-decoration: underline;
      transition: opacity .3s;

      @include mixin.hover {
        &:hover {
          opacity: .8;
        }
      }
    }

    blockquote {
      font-family: var.$font-serif;
      font-weight: 600;
      padding: 2.4rem;
      border: .1rem solid #eee;
      background-color: rgba(white, .5);
      font-weight: bold;

       @include mixin.sp {
        padding: 1.6rem;
      }
    }

    // margins

    & > * {
      margin-top: 2.4rem;

      @include mixin.sp {
        margin-top: 1.6rem;
      }
    }

    h2 {
      margin-top: 6.4rem;

      @include mixin.sp {
        margin-top: 4.8rem;
      }
    }

    h3 {
      margin-top: 6.4rem;

      @include mixin.sp {
        margin-top: 4rem;
      }
    }

    h4 {
      margin-top: 5.6rem;

      @include mixin.sp {
        margin-top: 4rem;
      }
    }

    h5 {
      margin-top: 2.4rem;
    }

    h6 {
      margin-top: 1.6rem;
    }
  }

  .rlc-container {
  width: 100%;
  max-width: 100%;
  min-height: 11rem;
  border: .1rem solid #dbdbdb;
  background-color: transparent;
  border-radius: .5rem;
  display: flex;
  text-decoration: none;
  overflow: hidden;
  transition: background-color .3s;

  @include mixin.sp {
    flex-direction: column-reverse;
  }

  @include mixin.hover {
    &:hover {
      background-color: #fff;
    }
  }
  
  .rlc-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    padding: 1.6rem;
    width: 70%;

    @include mixin.sp {
      width: 100%;
    }

    .rlc-title {
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }

    .rlc-description {
      font-size: 1rem;
      color: #737373;
      margin-bottom: 0.5em;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    .rlc-url-container {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .rlc-favicon {
        margin-top: 0.15rem;
        margin-bottom: 0;
      }
      .rlc-url {
        font-size: 1rem;
        color: #525252;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-line-clamp: 1;
      }
      .rlc-favicon {
        width: 1.6rem;
      }
    }
  }
  .rlc-image-container {
    position: relative;
    aspect-ratio: 1.91 / 1;
    flex-shrink: 0;
    width: 30%;

    @include mixin.sp {
      width: 100%;
    }

    .rlc-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
</style>