$red: #ff0000;

$font-serif: "Zen Old Mincho", serif;
$font-base: "Zen Kaku Gothic Antique", sans-serif;
$font-ibm: "IBM Plex Sans JP", sans-serif;

$z-header: 100;

$c-key-1: #c699f1;
$c-key-2: #ffa0b0;

@mixin hover {
  @media (hover: hover) {
    @content;
  }
}
