$red: #ff0000;

$font-serif: "Zen Old Mincho", serif;
$font-base: "Zen Kaku Gothic Antique", sans-serif;
$font-ibm: "IBM Plex Sans JP", sans-serif;
$font-noto: "Noto Sans JP Variable", sans-serif;

$z-header: 100;

$c-key-1: #c699f1;
$c-key-2: #ffa0b0;

$c-link: #2196f3;
