$red: #ff0000;

$font-serif: "Zen Old Mincho", serif;
$font-base: "Noto Sans JP Variable", sans-serif;

$z-toc: 10;
$z-menu: 90;
$z-header: 100;

$c-key-1: #c699f1;
$c-key-2: #ffa0b0;

$c-link: #007de0;
$c-link-article: #da7aa4;
