---
---

<div class="container">
  <slot />
</div>

<style lang="scss">

  .container {
    max-width: 120rem;
    width: 100%;
    padding: 0 3rem;
    margin: 0 auto;

    @include mixin.sp {
      padding: 0 2rem;
    }
  }
</style>