---
import Container from "./Container.astro";
import SearchModal from "./SearchModal.astro";
const isTopPage = Astro.url.pathname === '/';
---

<header class="header js-header">
<Container>
  <div class="header__content">
    {
      isTopPage ? (
      <h1 class="header__title">夢百科</h1>
      )
      : (
        <a class="header__title" href="/">夢百科</a>
      )
    }
    <div class="header__nav-wrap">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li><a href="/">ホーム</a></li>
          <li><a href="/article">夢占い</a></li>
          <li><a href="/article/keyword">キーワード一覧</a></li>
          <li><a href="/column">コラム</a></li>
        </ul>
      </nav>
      <SearchModal />
      <button class="header__menu-btn js-hamburger-menu-btn">
        <span></span>
      </button>
    </div>
  </div>
</Container>
</header>

<script>
  const hamburgerMenuBtn = document.querySelector('.js-hamburger-menu-btn');

  hamburgerMenuBtn.addEventListener('click', () => {
    const body = document.body;
    if (body.getAttribute('data-menu-open') === '') {
      body.removeAttribute('data-menu-open');
    } else {
      body.setAttribute('data-menu-open', '');
    }
  });
</script>

<style lang="scss">
  

.header {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  border-bottom: .1rem solid rgba(0,0,0,.1);
  z-index: var.$z-header;
  background-color: white;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image:  var(--headerBg);
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    // 白
    // opacity: 0;
  }

  &__title {
    display: flex;
    font-size: 2.4rem;
    font-weight: bold;

    @include mixin.sp {
      font-size: 2rem;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;

    @include mixin.sp {
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
  }

  &__nav-wrap {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    @include mixin.sp {
      gap: 1.6rem;
    }
  }

  &__nav {
    @include mixin.sp {
      display: none;
    }
  }

  &__nav-list {
    display: flex;
    gap:2.4rem;

    @include mixin.sp {
      font-size: 1.4rem;
      gap: 1.6rem;
    }

    li {

      a {
        transition: all .3s;
        
        @include mixin.hover {
        &:hover {
          opacity: 0.7;
        }
      }
      }
    }
  }

  &__menu-btn {
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    display: none;

    @include mixin.sp {
      display: block;
    }

    &::before, &::after, span {
      content: '';
      width: 2rem;
      height: .15rem;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: #3b3b3b;
      transition: all .3s;
    }

    &::before {
      transform: translateY(-.6rem);
    }

    &::after {
      transform: translateY(.6rem);

    }

    span {
    }
  }
}

html:has([data-menu-open]) {
  .header__menu-btn {
    &::before {
      transform: translateY(0) rotate(45deg);
    }

    &::after {
      transform: translateY(0) rotate(-45deg);
    }

    span {
      opacity: 0;
    }
  }
}
</style>