---
---

<nav class="toc-nav">
  <div class="toc-title">
    <div>目次</div>
  </div>
  <div class="toc"></div>
</nav>

<style is:global lang="scss">
  .toc-nav {
    position: relative;
    padding: 2.4rem;
    border: .1rem solid #eee;
    background-color: rgba(255, 255, 255, 0.455);
    line-height: 1.75;
    margin-top: 4rem!important;

    @include mixin.sp {
      background-color: rgba(255, 255, 255, 1);
    }
  }


  .toc-title {
    font-size: 1.8rem;
  }

  .toc-list.is-collapsible {
    margin-top: .6rem;

    .toc-list-item {
      &:not(:first-child) {
        margin-top: .4rem;
      }
    }
  }

  .toc-link {
    position: relative;

      &::before {
        content: '';
        background-image: linear-gradient(to bottom ,rgba(var.$c-key-1, 1), rgba(var.$c-key-2, 1));
        background-size: 100% 100%;
        background-position: left top;
        background-repeat: no-repeat;
        width: .2rem;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: all .3s;
      }
    transition: color .3s;

    &.node-name--H2 {
      display: block;
      margin-top: 1rem;
      font-size: 1.5rem;
      padding-left: 1rem;
    }

    &.node-name--H3 {
      display: block;
      font-size: 1.4rem;
      padding-left: 1.2rem;
    }

    @include mixin.hover {
      &:hover {
        // color: var.$c-key-1;
        background-color: #f8f8f8;


        &::before {
          opacity: 1;
        }
      }
    }

  } 
</style>